html {
    background-image: url("../images/background_space.jpg");
    background-size: cover;
    
}

#contents {
    width: 800px;
    margin: 50px auto 0 auto;
    text-align: center;
    color: white;
    border: none;
    overflow: hidden;
}

#contents #le1 {
    width: 600px;
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 10px lightseagreen;
}

#contents div {
    margin: 50px auto;
}

#contents div#wrap1 {
    width: 600px;
    height: 100px;
    color: white;
    text-shadow: 3px 3px 10px lightseagreen;
    font-size: 80px;
    font-family: 'Gaegu', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    text-align: left;
    
}

#contents div#wrap2 {
    width: 600px;
    height: 100px;
    color: white;
    text-shadow: 3px 3px 10px lightseagreen;
    font-size: 80px;
    font-family: 'Gaegu', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    text-align: right;
}

#contents div#wrap3 {
    width: 800px;
    height: 800px;
    color: white;
    text-shadow: 3px 3px 10px lightseagreen;
    font-size: 50px;
    font-family: 'Gaegu', sans-serif;
    font-weight: bold;
    border: 1px solid lightseagreen;
    border-radius: 10px;
}

#wrap3 ul li{
    margin: 20px auto;
    width: 800px;
    height: 70px;
    list-style: none;
    font-size: 40px;
    text-align: left;
}



div#home_bt {
    position: fixed;
    bottom: 0;
    right: 0;
    transition-duration: 1s;
}
div#home_bt img {
    width: 100px;
    height: 100px;
}

div#home_bt:hover {
    cursor: pointer;
    filter: drop-shadow(3px 3px 10px lightseagreen);
    transform:translateY(-10px);
}